.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: rgb(213, 216, 255);
  height: 90px;
  padding: 5px;
  color: rgb(255, 103, 103);
}

.App-intro {
  font-size: large;
}

.App-todo li {
  text-align: left;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
